#card-people {
    background-color: #f5f5f5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
    align-items: center;
    text-align: center;
    display: block;
    justify-content: space-between;
    margin: 15px;
}

.card-content{
    height: 100%;
    align-items: center;

}

#card-name {
    color: #0ca1df;
    padding-top: 30px;
  }