#card-people {
    background-color: #f5f5f5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 204px;
    align-items: center;
    text-align: center;
    display: block;
    justify-content: space-between;
    margin: 15px 15px 15px 15px;
}


#card-name {
    color: #0ca1df;
    padding-top: 20px;
  }