#button {
    width: 100%;
    background: linear-gradient(266.4deg, #EB5757 0%, #F2994A 100%);
    border-radius: 4px;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-weight: bold;
    
}

.text-name {
    width: 50%;
    justify-content: space-between;
}

@media  screen and (min-width: 400px) {
    .text-name .text-email{
      width: 100%;
    }
  }