.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  background: -webkit-linear-gradient(90deg, #ff5a56, #ff9a42 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border: none;
  padding: none;

}

.head {
  vertical-align: middle;
  text-align: center;
}

.header-movies
{font-family: ubuntu;
  font-weight: 100;
  margin: 20px;
  font-size: 22px;
  color: #666666;
}