.movie-people {
  font-family: ubuntu;
  font-weight: 100;
  margin: 20px;
  font-size: 22px;
  color: #666666;
  padding-left: 15px;
  padding-top: 30px;
}

.swiper-people {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
